
<tr>
            <td>ticket.lottery</td>
            <td>ticket.drawing_date</td>
            <td>ticket.number1</td>
            <td>ticket.number2</td>
            <td>ticket.number3</td>
            <td>ticket.number4</td>
            <td>ticket.number5</td>
            <td>ticket.bonus_number</td>
            <td>ticket.purchase_date</td>
</tr>