<h1> Your tickets</h1>

 <table>
        <thead>
        <tr>
            <th>Game</th>
            <th>Draw Date</th>
            <th>Number 1</th>
            <th>Number 2</th>
            <th>Number 3</th>
            <th>Number 4</th>
            <th>Number 5</th>
            <th>Bonus Number</th>
            <th>Purchase Date</th>
        </tr>
        </thead>
        <tbody>
        <%= render partial: 'ticket_row', collection: @user.lottery_tickets.order(lottery_id: :asc, drawing_date: :desc), as: :ticket %>
        </tbody>
    </table>