.small-form {
    max-width: 400px;
    padding: 10px;
    align: center;
}

.submit-button-wrapper {
  margin-top: 25px;
  input {
    width: 100%;
    border: none;
    background: gray;
    color: white;
  }
}
