<header class="top-bar">
    <div class="main-content">
        <div class="row">
            <div class='logo col-md-4'>
                <%= image_tag('Lady-Luck.png') %>
            </div>
            <div class='col-md-8'>
                <h1>Lady Luck is interested in gambling</h1>
            </div>    
        </div>
    </div>
</header>